@{
    ViewBag.Title = "Home";
}

<h1>@ViewBag.Title</h1>

<button class="btn btn-primary" id="load-friends">Load Friends</button>

<div id="friends-list"></div>

<script src="friends.js"></script>

@*
@await Component.InvokeAsync("Grid", new PersonGridModel
{
    GridTitle = "Friends",
    Persons = new List<Person>
    {
        new Person()
        {
            Name = "Amy",
            JobTitle = "Employee"
        },
        new Person()
        {
            Name = "John",
            JobTitle = "Manager"
        }
    }
})
*@