@model IEnumerable<string>
@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>

<ul>
    @foreach (var city in Model)
    {
        <li>@city</li>
    }
</ul>

<h1>Instances</h1>

<ul>
    @foreach (var instanceId in ViewBag.Instances)
    {
        <li>@instanceId</li>
    }
</ul>