<h3>Cities</h3>
<ul class="list-group">
    <li class="list-group-item">Beijing</li>
    <li class="list-group-item">Shanghai</li>
    <li class="list-group-item">Guangzhou</li>
    <li class="list-group-item">Shenzhen</li>
</ul>