<h1>Grid View Component invoked</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active">
        <td>1</td>
        <th scope="row">Active</th>
    </tr>
    <tr>
        <td>2</td>
        <th scope="row">Default</th>
    </tr>
    <tr class="table-primary">
        <td>3</td>
        <th scope="row">Primary</th>
    </tr>
    <tr class="table-secondary">
        <td>4</td>
        <th scope="row">Secondary</th>
    </tr>
    <tr class="table-success">
        <td>4</td>
        <th scope="row">Success</th>
    </tr>
    <tr class="table-danger">
        <td>5</td>
        <th scope="row">Danger</th>
    </tr>
    <tr class="table-warning">
        <td>6</td>
        <th scope="row">Warning</th>
    </tr>
    <tr class="table-info">
        <td>7</td>
        <th scope="row">Info</th>
    </tr>
    <tr class="table-light">
        <td>8</td>
        <th scope="row">Light</th>
    </tr>
    <tr class="table-dark">
        <td>9</td>
        <th scope="row">Dark</th>
    </tr>
    </tbody>
</table>