<h1>About</h1>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda excepturi dicta quae repellat! Nostrum optio,
    atque illo odio earum dolorum magnam laboriosam adipisci enim corrupti voluptas temporibus, fugiat distinctio
    aliquam! </p>
    
@{
    var grid = new PersonGridModel()
    {
        GridTitle = "SCP",
        Persons = new List<Person>
        {
            new Person
            {
                Name = "SCP-173",
                JobTitle = "None"
            }
        }
    };
}
<vc:grid model="@grid"/>