@using ViewsExample.Models
@{
    var title = "Asp.Net Core App";

    var persons = Enumerable.Range(1, 10).Select(x => new Person()
    {
        Name = "Robot T" + (3500 + x),
        DateOfBirth = DateTime.Now,
        Gender = Gender.Male
    });
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Welcome</h1>

@for (var i = 0 ; i<persons.Count();i++)
{
    var person = persons.ElementAt(i);
    @: Hello 
    <div>
        @person.Name
        <span>,</span>
        <span>@person.Gender</span>
        @if (person.DateOfBirth != null)
        {
            <span>@person.DateOfBirth.Value.ToString("yyyy-MM-dd HH:mm:ss.ff")</span>
        }
    </div>
}

</body>
</html>